<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"720px"},"style":{"spacing":{"padding":{"top":"32px","bottom":"32px","left":"24px","right":"24px"}}}} -->
<div class="wp-block-group" style="padding-top:32px;padding-right:24px;padding-bottom:32px;padding-left:24px">

    <!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"2.25rem","fontWeight":"800"}},"fontFamily":"heading"} -->
    <h1 class="wp-block-heading" style="font-size:2.25rem;font-weight:800">Archivos</h1>
    <!-- /wp:heading -->

    <!-- wp:sp/full-archive /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
