<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"720px"},"style":{"spacing":{"padding":{"top":"32px","bottom":"32px","left":"24px","right":"24px"}},"border":{"top":{"color":"var(--wp--preset--color--primary)","width":"3px"}}}} -->
<div class="wp-block-group" style="padding-top:32px;padding-right:24px;padding-bottom:32px;padding-left:24px;border-top-color:var(--wp--preset--color--primary);border-top-width:3px">

    <!-- wp:sp/search-header /-->

    <!-- wp:sp/date-stream {"postsPerPage":10,"inheritQuery":true} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
