<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"440px"},"style":{"spacing":{"padding":{"top":"24px","bottom":"48px","left":"24px","right":"24px"}}}} -->
<div class="wp-block-group" style="padding-top:24px;padding-right:24px;padding-bottom:48px;padding-left:24px">

    <!-- wp:query-title {"type":"archive","className":"sp2-archive__title","style":{"typography":{"fontSize":"1.25rem","fontWeight":"700"}}} /-->

    <!-- wp:sp/date-stream {"inheritQuery":true,"postsPerPage":10} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
