<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"440px"},"style":{"spacing":{"padding":{"top":"24px","bottom":"48px","left":"24px","right":"24px"}}}} -->
<div class="wp-block-group" style="padding-top:24px;padding-right:24px;padding-bottom:48px;padding-left:24px">

    <!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"1.5625rem","fontWeight":"700","letterSpacing":"-0.01em","lineHeight":"1.2"},"spacing":{"margin":{"bottom":"24px"}}},"fontFamily":"ui"} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
